<div class="container1">
    <div class="logo">
      <img src="/assets/images/logo.jpg" alt="Your Logo" style="width: 300px; height: 300px;">
    </div>
    <div class="description">
      <h1 class="logotext">Your journey to a healthier you starts here —discover and share productsthat best
        match your goals.</h1>
    </div>
    <br>
    <a href="lunch">
      <button mat-raised-button color="primary" routerLink="login">Lets Start</button></a>
  </div>
  <!-- cotainer 2 -->
  <div class="container2">
    <div class="image2">
      <img src="/assets/images/home1.jpg" alt="Your Photo" style="width: 600px; height: 500px; padding-left: 20px;">
    </div> 
    <div class="description2">
      <h1 style="font-size: 40px;">It’s Personal!</h1>
      <h2 style="color: #888; padding-right: 80px; font-size: 25px;">Every body is different and our food choices should
        reflect that. Create your Food Profile to learn how products match with your needs, goals and lifestyle not an
        average.
      </h2>
    </div>
  </div>
  
  
  <!-- container 3 -->
  
  <!-- description-container.component.html -->
  <div class="container3">
    <div class="description3">
      <h1 class="header" style="font-size: 40px; padding-left: 80px;">Guidance on what to eat everystep of the way</h1>
      <h3 style="color: #888; padding-right: 80px; font-size: 25px; padding-left: 80px; ">Looking to lose weight? Or
        optimize your fitness performance? Our Meal Plans and Diets are suited for any lifestyle, such as Protein Weight
        Loss, Mediterranean, Fasting, Keto and more.</h3>
  
    </div>
    <div class="image3">
      <img src="/assets/images/home4.jpg" alt="Description Photo"  style="width: 700px; height: 500px;">
    </div>
  </div>
  
  <!-- cotainer 4 -->
  <div class="container4">
    <div class="image4">
      <img src="/assets/images/home5.jpg" alt="Your Photo" style="padding-right: 50px;">
    </div>
    <div class="description4">
      <h1 style="font-size: 40px;">Develop healthy habits</h1>
      <h3 style="color: #888; padding-right: 80px; font-size: 25px;font-family: Arial, Helvetica, sans-serif;">Count your
        calories, ensure you're meeting nutrient targets, and see your progress over time.</h3>
    </div>
  </div>
  
  <div class="sponsers">
    <h1 class="heading">As Seen In</h1>
    <div class="container5">
      <div class="row" style="display: flex; ;">
        <div class="col">
          <img src="assets/images/toms.jpg" alt="" width="350" height="350" style="padding-left: 50px;">
          <img src="/assets/images/forbes.jpg" alt="" width="500" height="200"
            style="padding-left: 300px; padding-bottom: 100px;">
          <img src="assets/images/life.jpg" alt="" width="600" height="200" style="padding-left: 380px; padding-bottom: 100px;">
        </div>
      </div>
      <div class="row" style="display: flex; ">
        <div class="col">
          <img src="assets/images/NBC.jpg" alt="" width="350" height="350" style="padding-left: 50px;">
          <img src="/assets/images/healthyfyme.jpg" alt="" width="500" height="200"  
            style="padding-left: 300px; padding-bottom: 50px;">
          <img src="assets/images/women.jpg" alt="" width="600" height="350" style="padding-left: 300px;">
        </div>
      </div>
    </div>
  </div>
  
  <div class="about">
    <div class="footer">
      <div class="footerImg">
        <img src="/assets/images/logo.jpg" alt="branding" >
      </div>
      <div class="row2">
        <div class="col2">
          <b>ABOUT</b><br>
          <a href="#">About Us</a><br>
          <a href="#">Stores</a><br>
          <a href="#"> Licence</a><br>
          <a href="#">Alcohol Delivery</a><br>
        </div>
  
        <div class="col2">
          <b>HELP</b><br>
          <a href="#">In Store PIckup</a><br>
          <a href="#">FAQ</a><br>
          <a href="#"> Contact Us</a><br>
          <a href="#">Join as Retailer</a>
        </div>
  
        <div class="col2">
          <b>FOLLOW US</b><br>
          <a href="#">FaceBook</a><br>
          <a href="#">Instagram</a><br>
          <a href="#"> Twitter</a><br>
        </div>
      </div>
  
      <div style="line-height: 2; padding-left: 250px; text-align: center;">
        <br><br>
        <h6><b>Terms and Conditions | Privacy Policy</b></h6>
        <h6><b>© 2022 Goto Concept LLC All rights reserved.</b></h6>
  
        <!-- <h3>California Proposition 65 WARNING: Drinking distilled spirits, beer, coolers, wine and other alcoholic
          beverages may increase cancer risk, and, during pregnancy, can cause birth defects. For more information go to
          www.P65Warnings.ca.gov/alcohol
        </h3> -->
      </div>
    </div>
  </div>