/* Style 1: Simple border style */
.container {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
 
  .container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  /* Style 3: Rounded border style */
  .container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }

  .card{
    height: 70vh;
    padding: 25px;
    margin: 25px;
    border: 2px solid gray;
  }
  
  .cart-title{
    text-align: center;
    color: black;
  }

  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .center img{
    color: inherit;
    height: 300px;
  }

  .emptyCart-btn{
    background-color: white;
    border:2px solid gray;
    border-radius: 10px;
    padding: 10px;
  }

  .emptyCart-btn:hover{
    background-color: #efffda;

  }
  